<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableviewpractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FF4775D1C46AD0800DC0D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF477711C46AD0800DC0D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF4777C1C46AD0800DC0D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
